<%
    iframeUid = "responsive-iframe-" + Math.floor(Math.random() * 100000000);
%>
<style>
<%= include("../scss/news_special/loading.css") %>
</style>

<!--[if lt IE 9]>
<style>
.column--primary {
    float: none;
    width: 100%;
}

.column--secondary {
    float: none;
}

.media-portrait,
.media-landscape {
    width: 67.75%;
}
</style>

<![endif]-->
<div id="iframe_newsspec_9881">
    <a href="<%= path %>/<%= vocab_dir %>/index.html?v=<%= version %>" id="<%= iframeUid %>" data-static-iframe-height="600">Syrian Journey</a>
</div>
<script type="text/javascript"><%= include(debug === 'true' ? "../js/lib/news_special/iframemanager__host.js" : "../../tmp/iframemanager__host.js", {iframeUid: iframeUid, scaffoldLite: scaffoldLite}) %></script>
