<%= include('includes/top.tmpl') %>

    <div class="main">
        <div class="intro">
        
        </div>
        <div class="slides">
            <div class="coming-soon"></div>
        </div>
    </div>

<%= include('includes/bottom.tmpl') %>
