$debug: false;
$which-env: previewstage;
$scaffold-lite: false;
$project_number: 9881;
$year: 2015;
$image-widths: 262,307,560,730,913;
$services-default: english;
$services-others: English Reference,arabic,turkish,persian,russian,mundo,indonesia;
