/* separate your sass into different files to keep it maintainable!  */
.main {
    max-width: 974px;
    position: relative;
    .slides,
    .intro {
        margin-left: 31px;
        width: 82%;
        float: left;
        .slide {
            padding-top: 10px;
            img {
                width: 100%;
            }
            &.new {
                opacity: 0;
            }
            &.current {
                -webkit-opacity: 1;
                -moz-opacity: 1;
                opacity: 1;
                -webkit-transition: all .7s ease;
                -moz-transition: all .7s ease;
                -ms-transition: all .7s ease;
                -o-transition: all .7s ease;
                transition: all .7s ease;
            }
            #end-try-again {
                width: 218px;
                padding: 8px 0 9px 30px;
                background: #007f7f url(../img/sprite.png) no-repeat 40px 9px;
                color: #fff;
                text-align: center;
                margin: 0 auto;
                cursor: pointer;
            }
        }
        .share {
            width: 218px;
            padding: 8px 0 9px 30px;
            background: #69c023 url(../img/sprite.png) no-repeat 40px -21px;
            color: #fff;
            text-align: center;
            margin: 2px auto;
            cursor: pointer;
        }
        .share__button {
            height: auto;
            .share__png_icon {
                display: none;
            }
            p {
                font-weight: bold;
                color: #fff;
            }
        }
        .coming-soon {
            height: 600px;
        }
        h2 {
            padding-bottom: 9px;
            border-bottom: 1px solid #ccc;
            font-size: 20px;
            padding-top: 5px;
            margin: 0 0 10px 0;
        }
        h3 {
            padding-bottom: 0;
            font-size: 16px;
        }
        p {
            font-size: 16px;
            line-height: 18px;
        }
        .option-wrapper {
            width: 44%;
            float: left;
            margin-left: 30px;
            .option {
                background: #7a7a7a;
                padding: 21px;
                text-align: center;
                color: #fff;
                font-weight: bold;
                font-size: 20px;
                &.loaded {
                    cursor: pointer;
                    background: #404040;
                    &:hover {
                        background: #007f7f;
                    }
                }
                &.selected {
                    background: #007f7f;
                }
            }
            .description {
                color: #404040;
                background: #e8e8e8;
                padding: 10px 13px;
            }
            &:first-child {
                margin: 0;
            }
            &.three {
                width: 100%;
                margin: 15px 0;
            }
        }
        hr {
            clear: both;
            border: 0;
            height: 10px;
        }
    }
    .intro {
        width: 95%;
        max-width: 974px;
        padding-right: 31px;
    }
    .sidebar {
        display: block;
        width: 148px;
        border: 2px solid #ddd;
        position: relative;
        right: 0;
        overflow: hidden;
        height: 165px;
        .overlay {
            display: block;
            position: absolute;
            width: 100%;
            overflow: hidden;
            height: 100%;
            z-index: 1001;
            h4 {
                text-align: center;
                &.end {
                    display: none;
                    position: absolute;
                    bottom: -7px;
                    right: 70px;
                    &.off {
                        bottom: -100px;
                    }
                }
            }
            li {
                list-style: none;
                position: absolute;
                color: transparent;
                &.step-1 {
                    top: 61px;
                    left: 65px;
                }
                &.step-2 {
                    top: 122px;
                    left: 38px;
                }
                &.step-3 {
                    top: 181px;
                    left: 76px;
                }
                &.step-4 {
                    top: 246px;
                    left: 90px;
                }
                &.step-5 {
                    top: 305px;
                    left: 55px;
                }
                &.step-6 {
                    top: 371px;
                    left: 54px;
                }
                &.step-7 {
                    top: 433px;
                    left: 94px;
                }
                &.step-8 {
                    top: 495px;
                    left: 70px;
                }
                &.next {
                    color: #404040;
                }
                &.on {
                    color: #fff;
                }
            }
        }
    }
    svg {
        transform: translate(-250px,-70px);
        circle {
            fill: #fff;
            &.next {
                fill: #ddd;
            }
            &.on {
                fill: #007F7F;
            }
        }
        path {
            stroke: transparent;
            stroke-width: 3;
            fill: none;
            stroke-miterlimit: 10;
            &.trail {
                stroke: transparent;
            }
            &.next {
                stroke: #ddd;
            }
            &.on {
                stroke: #007F7F;
            }
            &.anim {
                stroke:#007F7F;
                stroke-dasharray: 65;
                stroke-dashoffset: 65;
                animation: dash 1s linear alternate 1;
                -webkit-animation: dash 1s linear alternate 1;
                -webkit-animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes dash {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.main.second {
    overflow: visible;
    /*padding: 1px 4px 1px;*/
    padding: 0;
}

/*
.main {
    max-width: 974px;
    position: relative;
    .slides {
        margin-left: 41px;
        width: 75%;
        float: left;
        h2 {
            padding-bottom: 12px;
            border-bottom: 1px solid #ccc;
            font-size: 20px;
        }
    }
}
*/
@include respondMinMax (400px, false) {
    .main {
        .slides {
            width:87%;
            .option-wrapper {
                width: 45.5%;
            }
        }
        .intro {
            .option-wrapper {
                width: 45.5%;
            }
        }
    }
}
@include respondMinMax (600px, false) {
    .main {
        .slides,
        .intro {
            margin-left: 41px;
            h2 {
                padding-bottom: 17px;
                font-size: 24px;
            }
            h3 {
                padding-bottom: 0;
                font-size: 18px;
            }
            p {
                font-size: 18px;
                line-height: 21px;
            }
        }
        .slides {
            width:64%;
            .option-wrapper {
                width: 45%;
            }
        }
        .intro {
            .option-wrapper {
                width: 47%;
            }
        }
    }
}
@include respondMinMax (720px, false) {
    .main {
        .slides {
            width:67%;
            .option-wrapper {
                width: 45.5%;
            }
        }
        .intro {
            padding-right: 41px;
            width: 98%;
        }
    }
}
@include respondMinMax (800px, false) {
    .main {
        .slides {
            width:70%;
            .option-wrapper {
                width: 46%;
                &.three {
                    width: 29%;
                    margin: 0 0 0 30px;
                    &:first-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}
@include respondMinMax (906px, false) {
    .main {
        .slides {
            width:73%;
            .option-wrapper {
                width: 47%;
            }
        }
        .intro {
            .option-wrapper {
                width: 48%;
            }
        }
    }
}

html[lang="ar"] body .main .intro, html[lang="ar"] body .main .slides,
html[lang="fa"] body .main .intro, html[lang="fa"] body .main .slides,
html[lang="ps"] body .main .intro, html[lang="ps"] body .main .slides,
html[lang="ur"] body .main .intro, html[lang="ur"] body .main .slides{
    float: right;
}
